body{
    position: relative;
}

*{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: black;
    padding: 15px;
}

.nav-link:hover{
    color:#B11E1B!important;
}

.navbar-item-custom, .navbar-item-custom  a{
    color: white;
}

.navbar-item-custom  a:hover{
    text-decoration: none;
    color: #B11E1B;
}

.footer-custom{
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: black;
    padding-top: 25px;
    margin-top: 50px;
}

.footer-custom p, .footer-custom a{
    color:white;
}

.product-item h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 10px;
}

.product-item{
    margin-top: 50 px;
}

.product-item .product-price{
    font-size: 14px;
    font-weight: bold;
} 

.product-container{
    margin-bottom: 150px;
}

.product-page-price{
    font-size: 19px;
}

.cart-icon{
    height: 20px ;
    padding-left: 20px;
}

.block-small{
    max-width: 600px;
    margin: 0 auto;
}

.form-check{
    background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top: 7px;
}

.col-form-label{
    font-weight: bold;
}
.order-summary{
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 22px;
}

.account-item{
    background-color: #f1f5f9;
    padding: 70px;
}

.account-item a {
    text-transform: uppercase;
    font-size: 13px;
    color: #B11E1B;
    font-weight: bold;
}

.account-item a:hover{
    text-decoration: none;
    color: #0c4a6e;
}

.go-backoffice{
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    background-color:#B11E1B;
    color:white;
    margin-bottom: 15px;
}

.go-backoffice:hover{
    color: white;
    text-decoration: none;
    background-color: #C4201D;
}

.navbar-brand{
    font-weight: bold;
    font-size: 25px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #B11E1B;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(177,30,27,.25);
}